@media only screen and (min-width: 200px) and (max-width: 575px) {
  /* ! Hero Section Start */
  .hero-section p {
    font-size: 16px;
  }
  .downloadInfo {
    flex-wrap: wrap;
  }
  .hero-section .downloadInfo img {
    margin: auto;
  }
  /* ! Hero Section End */
  /* ! Features Overview Section Start */
  .feature_Smart_Phone {
    width: 80%;
  }
  /* ! Features Overview Section End */
  /* ! How Zenvi Works Section Start */
  .howItWorks h3 {
    font-size: 40px;
  }
  /* ! How Zenvi Works Section End */
  /* ! Testimonial Section Start */
  .clientCard .quote {
    width: 15%;
    top: -6%;
  }
  .clientCard h5 {
    font-size: 22px;
  }
  .main-itemBox{
    padding-bottom: 0px;
  }
  /* ! Testimonial Section End */
  /* ! Coming Soon Section Start */
  .comingSoon input{
    width: 50%;
  }
  /* ! Coming Soon Section End */
  /* ! Contact Us Section Start */
  .ContactHeading h3{
    font-size: 22px;
  }
  /* ! Contact Us Section End */
  /* ! Footer Section Start */
  .footer2 h5 {
    font-size: 18px;
  }
  /* ! Footer Section End */
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  /* ! Hero Section Start */
  .hero-section .downloadInfo {
    justify-content: center;
  }
  /* ! Hero Section End */
  /* ! Features Overview Section Start */
  .feature_Smart_Phone {
    width: 100%;
  }
  /* ! Features Overview Section End */
  /* ! How Zenvi Works Section Start */
  .howItWorks h3 {
    font-size: 65px;
  }
  /* ! How Zenvi Works Section End */
  /* ! Testimonial Section Start */
  .clientCard .quote {
    width: 15%;
    top: -15%;
  }
  /* ! Testimonial Section End */
  /* ! Footer Section Start */
  .footer2 h5 {
    font-size: 20px;
  }
  /* ! Footer Section End */
}

@media only screen and (min-width: 200px) and (max-width: 991px) {
  html,
  body {
    overflow-x: hidden !important;
  }
  /* ! Hero Section Start */
  .hero-heading {
    font-size: 30px;
  }
  .hero-section p {
    font-size: 18px;
  }
  /* ! Hero Section End */
  /* ! Calming Presence Section Start */
  .commonLeaf {
    width: 30%;
  }
  .rightLeaf {
    top: -1%;
  }
  /* ! Calming Presence Section End */
  /* ! Features Overview Section Start */
  .mobile-grey {
    background-color: #fd7436;
  }
  .feature-numbering {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.4);
  }
  /* ! Features Overview Section End */
  /* ! Daily Motivational Messages Section Start */
  .mobile-motivation {
    background: #f5f5f5;
  }
  .numbering2 {
    font-size: 50px;
  }
  .featureCard h5 {
    font-size: 20px;
    color: var(--primary-color);
  }
  .feature_content-2 .sub-Plans {
    color: #939393;
  }
  .feature_content-2 h4 {
    font-size: 40px;
  }
  /* ! Daily Motivational Messages Section End */
  /* ! How Zenvi Works Section Start */
  .whyLeaf {
    top: 0%;
    right: 0%;
  }
  /* ! How Zenvi Works Section End */
  /* ! Testimonial Section Start */
  .testimonialHeading h3 {
    font-size: 40px;
  }
  .testimonialHeading p {
    font-size: 16px;
  }

  .rightLeaf2 {
    top: 0%;
  }
  .clientCard {
    width: 100%;
    margin-bottom: 100px;
  }
  .clientCard .clientInfo {
    top: 70%;
  }
  /* ! Testimonial Section End */
  /* ! Coming Soon Section Start */
.comingSoon{
  width: 100%;
}
.comingSoon input{
  font-size: 16px;
}
.comingSoon button{
  font-size: 16px;
}
/* ! Coming Soon Section End */
/* ! Contact Us Section Start */
.ContactHeading h3{
  font-size: 40px;
}
.ContactHeading p{
  font-size: 16px;
}
.ContactHeading form input ,textarea{
  font-size: 16px;
}
.ContactHeading button{
  font-size: 16px;
  border-radius: 20px;
}
/* ! Contact Us Section End */
  /* ! Footer Section Start */
  .footer1 .TandC {
    font-size: 18px;
  }
  /* ! Footer Section End */
  /* ! Take Control Section Start */
  .takeControl {
    border-radius: 40px;
  }

  .takeControl h3 {
    font-size: 30px;
  }

  .takeControl p {
    font-size: 20px;
  }

  .takeControl .takeControl-items1 {
    flex-basis: 100%;
  }

  .takeControl .takeControl-items2 {
    flex-basis: 100%;
  }
  .downloadItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .takeControlImg {
    position: relative;
    bottom: 100%;
    width: 50%;
  }

  /* ! Take Control Section End */
}